.page__body {
  min-width: $width-mobile;
  color: $basic-black;
  background-color: $basic-white;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: $width-mobile;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding: 0 30px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding: 0 110px;
  }
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

.button {
  display: inline-block;
  padding: 5px;
  color: inherit;
  background-color: transparent;
  border: none;
  font: inherit;
  text-decoration: none;
}

.input {
  display: inline-block;
  padding: 5px;
  font: inherit;

  &::placeholder {
    color: currentColor;
  }
}
