*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  min-width: $width-mobile;
  color: $basic-black;
  background-color: $basic-white;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: $width-mobile;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding: 0 30px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding: 0 110px;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: normal;

  &--line {
    position: relative;
    display: inline-block;
    padding-right: 22px;
    background-color: $basic-white;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: ($width-mobile - 20);
      height: 2px;
      background-color: $basic-green;
      z-index: -1;

      @media (min-width: $width-tablet) {
        width: $width-tablet;
        left: -30px;
      }

      @media (min-width: $width-desktop) {
        width: $width-desktop;
        left: -110px;
      }
    }

    @media (min-width: $width-tablet) {
      padding: 0 36px;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 100%;
  color: $basic-white;
  background-color: $basic-green;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }

  &--add {
    color: $special-dark-grey;
    background-color: $grey-back;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba($special-dark-grey, 0.3);
    }
  }
}

.input {
  margin-left: 10px;
  flex-grow: 1;
  height: 45px;
  display: inline-block;
  padding: 0 15px;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: currentColor;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid $special-dark-grey;
  }

  &--error {
    border: 2px solid #ff8282;
  }

  @media (min-width: $width-tablet) {
    height: 52px;
  }
}

.label {
  display: flex;
  align-items: center;
  color: $special-dark-grey;
  white-space: nowrap;

  &--radio {
    color: #222222;

    &:hover span {
      border-color: #bababa;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.page__title {
  margin: 0;
  padding: 27px 0 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;

  @media (min-width: $width-tablet) {
    padding-top: 64px;
    font-size: 60px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 74px;
  }
}

.page__form {
  @media (min-width: $width-tablet) and (max-width: ($width-desktop - 1)) {
    .title--line::before {
      left: -70px;
    }

    .page__main {
      padding-left: 70px;
      padding-right: 65px;
    }
  }
}
