*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  min-width: $width-mobile;
  color: $basic-black;
  background-color: $basic-white;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: $width-mobile;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding: 0 30px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding: 0 110px;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 280px;
  color: $basic-white;
  background-color: $basic-green;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }

  @media (min-width: $width-tablet) {
    min-width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
  }
}

.input {
  display: inline-block;
  padding: 5px;
  font: inherit;

  &::placeholder {
    color: currentColor;
  }
}

.page__title {
  margin: 0;
  padding: 27px 0 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;

  @media (min-width: $width-tablet) {
    padding-top: 64px;
    font-size: 60px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 74px;
  }
}

.page__form .page__main {
  @media (min-width: $width-tablet) and (max-width: ($width-desktop - 1)) {
    padding-left: 70px;
  }
}
