.comment__textarea {
  margin-bottom: 23px;
  padding: 10px 15px;
  display: block;
  width: 100%;
  height: 150px;
  color: $special-dark-grey;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
}
