.page__index .main-header__wrapper {
  @media (min-width: $width-desktop) {
    background: linear-gradient(
        to right,
        $basic-white 50%,
        rgba($basic-green, 0.85) 50%
      ),
      no-repeat right top/50% url(../img/promo/index-background-desktop.webp);
  }
}

.main-header__wrapper {
  @media (min-width: $width-tablet) {
    padding-top: 24px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 54px;
  }
}

.main-nav {
  &--disabled {
    .main-nav__item {
      display: block;
    }

    .main-nav__toggle svg {
      width: 18px;
      height: 18px;
    }

    .main-nav__logo {
      margin-bottom: 44px;
    }
  }

  @media (min-width: $width-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-nav__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 17px;

  @media (min-width: $width-tablet) {
    width: 174px;
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    width: 202px;
  }
}

.logo__icon {
  @media (min-width: $width-tablet) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $width-desktop) {
    width: 70px;
    height: 59px;
  }
}

.logo__cat-energy {
  @media (min-width: $width-desktop) {
    width: 118px;
    height: 21px;
  }
}

.main-nav__list {
  display: grid;
  row-gap: 44px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    min-width: 440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    min-width: 478px;
  }
}

.main-nav__item {
  display: none;

  &:last-child {
    margin-bottom: 17px;
  }

  @media (min-width: $width-tablet) {
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.logo__link {
  display: contents;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__toggle {
  border: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.page__index .main-nav__link {
  @media (min-width: $width-desktop) {
    color: $basic-white;

    &--current::before {
      background-color: $basic-white;
    }
  }
}

.main-nav__link {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: $basic-black;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--current::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 2px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $width-desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}
